.statistics-section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  height: 100%;
  width: 300px;
  padding-top: 150px;
}

.table-head{
  background-color: green;
  border-right: 5px solid white;
  color: white;
  padding: 10px 0 10px 20px;
}