.about-us-div {
  background-color: #E6DBD0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developers-container {
  padding: 20px;
  justify-content: space-around;
}

.developer-bio ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.developer-bio{
  margin-bottom: 20px;;
}

.name {
  color: #7D6167;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

.title {
  color: #708B75;
}

a {
  color: #8d9174;
}

.developer-bio {
  width: 36vw;
  text-align: right;
  color: #464949;
  font-family: 'EB Garamond', serif;;
}
