.square{
  min-width: 75px;
  min-height: 75px;
  border: 1px solid black;
}

.letterInCorrectWord {
  background-color: black;
  color: white
}

.letterInCorrectWordAndRightPlace {
  background-color: green;
  color: white
}

/* letterInCorrectWordAndRightPlace */