.auth-section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-div{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.name-tag{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.auth-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;
}

.button-div{
  margin-top: 20px;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.auth-input {
  margin-left: 10px;;
}

.login-buttons{
  border: none;
  background-color: #00000000;
  padding: 5px 8px;
  cursor: pointer;
}

.login-buttons:hover{
  background-color: yellow;
}

.login-buttons:active{
  background-color: green;
  color: white
}